#box{
    background-color: rgba(0, 0, 0, 0.4);
    width:30%;
}
body #root #box input{

    border:0;
    border-bottom:1px solid white;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
}
h1{
    color:#fff
}
#float{
    color: white;
}
#root{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    #box {
      width: 60%;
    }
  }
  
  @media only screen and (max-width: 950px) {
    #box {
      width: 70%;
      
      
    }
  }